body {
    margin: 0;
}

header {
    height: 62px;
}

header nav {
    height: 62px;
    background-color: #000000;
    overflow: hidden;
}

header nav h1 {
    color: #ffffff;
    float: left;
    line-height: 62px;
    font-size: 50px;
    padding:0 18px;
}

header nav ul {
    list-style: none;
    float: right;
    margin: 0;
    padding:  18;
    display: flex;
}

header nav ul li a {
    float: left;
    line-height: 62px;
    padding: 0 18px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff; 
    
}

header nav ul li a:hover {
    opacity: 1;
    text-decoration-color: darkgoldenrod;
    color: darkgoldenrod;
}

header nav ul li a .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;  
}

header nav ul li a .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

header nav ul li a .dropdown-content a:hover {
    background-color: #ddd;
}

header nav ul li a:hover .dropdown-content {
    display: block;
}

section.carousel {
    
}

div.mission {
    text-align: center;
}