body {
    margin: 0;
}

header {
    height: 150px;
}

header nav {
    height: 150px;
    background-color: #000000;
}

header nav h1 {
    color: #ffffff;
    float: left;
    line-height: 25px;
    font-size: 50px;
    padding: 30px;
}

header nav ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li a {
    float: left;
    line-height: 75px;
    padding: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff; 
    
}